<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link phx-track-static rel="stylesheet" href={index_css()} />
    <title>Phx vite</title>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
